body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  background: #e3f4ff;
  margin: 20px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 14px auto;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 5px;
  padding: 20px;
}